
.pageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(182, 213, 216);
}
.controls{
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 125px;
    background-color: rgb(166, 180, 210); 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.controlButton{
    height: 50px;
    background-color: rgb(180, 181, 194);
    padding: 15px;
    font-size: 30px;
}
a{
    color: black;  
}
.welcomeAgain{
    width: 50vw;
}